{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "esversion": 6,
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ]
  }
}
